@import url("https://fonts.googleapis.com/css?family=Asap:400,700");
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  font-family: 'Asap', sans-serif; }

.quote-box {
  width: 450px;
  position: relative;
  background-color: #E3E8F0;
  padding: 40px 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .quote-box .quote-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700; }
    .quote-box .quote-text i {
      font-size: 1.6rem;
      margin-right: 4px; }
  .quote-box .quote-author {
    text-align: end; }
  .quote-box .buttons .button {
    display: inline-block;
    color: #ffffff;
    margin-top: 20px;
    border: none;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .quote-box .buttons a {
    float: left;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 5px; }
  .quote-box .buttons button {
    float: right;
    height: 40px;
    padding: 10px 25px; }
